/*----------------- AFFICHAGE GLOBAL ---------------------*/
*{
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: rgb(59, 58, 58);
}

img{
    width: 100%;
}

hr{
    border: none;
    background-color: #71dfad;
}

    /* Couleurs */
.fas, .far, .fab, .text-color, #portfolio footer .isActive, #why a{
    color: #71dfad;
}

    /* Borders qui reviennent souvent*/
#portfolio, .comment-impair, .comment-pair{
    border-bottom: 1px solid rgba(211, 211, 211, 0.342);
}

    /* Id */
#wrapper{
    max-width: 1128px;
    margin: 0 auto;
}
    /* Classes */
.disp-flex{
    display: flex;
}
.padding{
    padding-left: 6em;
    padding-right: 6em;
}
    /* Boutons */
.btn{
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5em 1em;
    font-weight: 600;
}
.text-white{
    color: white
}
.border-white{
    border: 2px solid white;
}
.border-color{
    border: 2px solid #71dfad;
}
    /* Titres */
h1{
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
h2{
    text-transform: capitalize;
    font-weight: 900;
}
h3{
    text-transform: uppercase;
    display: inline;
    font-weight: 900;
    font-size: 1em;
}
/*--------------------------------------------------------*/



/*----------------- HEADER -------------------------------*/
    /* Color-picker */
#color-picker{
    background-color: white;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 15%;
}

    /* Navigation */
header{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}
#logo{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}
#main-nav{
    display: flex;
    margin-top: 2em;
}
#main-nav li{
    text-transform: uppercase;
    list-style: none;
    margin: 0.5em 1em;
}
#main-nav a{
    color: white;
    text-decoration: none;
    font-size: 12.5px;
}
#burger{
    color: white;
    text-decoration: none;
    border: 1px solid white;
    padding: 0.5em;
    margin: 2em 0 auto 1em;
}
/*--------------------------------------------------------*/



/*----------------- MAIN ---------------------------------*/
main{
    background-color: white;;
}
    /* home */
#home{
    background: rgb(59, 58, 58) url("ressources/img/mountains.jpg") no-repeat center 80%;
    background-size: cover;
    padding: 5em;
    color: #71dfad;
    text-shadow: -1px -1px 10px black;
    width: 100%;
    text-align: center;
}
#home p{
    font-weight: 500;
}

    /* about */
#about{
    padding-top: 1em;
    padding-bottom: 3em;
}
#about>*{
    flex: 1;
}
#about h2{
    margin-bottom: 0;
}
#why p{
    text-align: justify;
}
#why a{
    text-decoration: none;
}
#what{
    padding: 0 1em;
    margin: 0 1em;
}
#what div div{
    margin: 0.75em 0;
}
#what span{
    margin: auto 0.5em auto 0;
    font-size: 1.5em;
}
#what p{
    margin: 0;
    text-transform: capitalize;
}
#complement{
    margin-top: 1.5em;
}
#complement div{
    border: 1px solid lightgray;
    padding: 0.8em;
    margin: 0.5em;
}
#complement span{
    margin-right: 1em;
}
#complement p{
    margin-left: 2em;
}


    /* portfolio */
#portfolio section{
    flex-wrap: wrap;
}
#portfolio section div{
    min-width: 25%;
    flex: 1;
}
#portfolio img{
    height: 100%;
}
#portfolio li{
    list-style: none;
    padding: 0 1em 0 0;
}
#portfolio footer{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
    justify-content: space-between;
}
#portfolio footer li{
    margin: auto 0;
    text-transform: uppercase;
    font-weight: bolder;
    color: lightgray;
}



    /* testimonials */
#testimonials h1{
    margin-bottom: 0;
}
#testimonials img{
    clip-path: circle(50% at 50% 50%);
}
.profile-pic{
    height: 100px;
    width: 100px;
}
#testimonials>section{
    display: flex;
}
.commentary>p:first-child{
    padding-bottom: 1em;
    font-style: italic;
    font-size: 20px;
}
.comment-pair{
    justify-content: flex-end;
    text-align: end;
}
.comment-pair, .comment-impair{
    padding: 1.5em 0;
}
.comment-impair .commentary{
    padding-left: 2em;
}
.comment-pair .commentary{
    padding-right: 2em;
}
.commentary>p:last-child{
    border-bottom: none;
}
#testimonials .align{
    text-align: center;
    margin-bottom: 3em;
}

    /* Outro */
#outro{
    text-align: center;
    color: white;
    background: rgb(59, 58, 58) url("ressources/img/stars.jpg") no-repeat center center;
    background-size: cover;
}
#outro .padding{
    padding-top: 2em;
    padding-bottom: 4em;
}
#outro h1{
    margin-bottom: 0;
}
#outrop h1, #outro p{
    padding-top: 1em;
    padding-bottom: 3em;
}
/*--------------------------------------------------------*/



/*----------------- FOOTER -------------------------------*/

/*--------------------------------------------------------*/



/*----------------- RESPONSIVE ---------------------------*/

/*--------------------------------------------------------*/